.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #3F51B5;
}
#footer {
  text-align: center;
  color: #E1E3F3;
  padding-top: 0.5%;
}
.icon-navbar {
  margin-top: 4px;
}
.icon-settings{
  margin-top: 6px;
}
.profile-picture {
  height: 120px;
  width: 150px;
}
.profile-picture-post {
  height: 40px;
  width: 40px;
}
.dashboard_profile-picture-post {
  height: 45px;
  width: 45px;
}
/*
.photo-up {
  height: 120px;
  width: 150px;
}*/

.card-image {
  height: 300px !important;
  width: 350px !important;
  /*margin-left: 40px !important;*/
}
.card {
  height: 300px !important;
  width: 350px !important;
  margin-left: 40px !important;
}
.no-content {
  height: 300px !important;
  width: 350px !important;
  margin-left: 40px !important;
}
.dropbox {
  height: 300px !important;
  width: 350px !important;
  margin-left: 40px !important;
}
