<template name="home">
    <div class="container">
      <div class="jumbotron">
        <h1>Welcome to Social.Network.</h1>
        <p>
          Social.Network is a new dynamic web application reworked. <br>
          Post everything, Follow everybody, Customize everytime.
        </p>
        {{#if getConnectedUser}}
        <p><a class="btn btn-primary btn-lg" href="/dashboard" role="button">Try it</a></p>
        {{else}}
        <p><a class="btn btn-primary btn-lg" href="/sign-up" role="button">Get Started</a><br>or <a href="/sign-in" role="button">sign-in</a>.</p>
        {{/if}}
      </div>
    </div>
</template>
