<template name="navbar">
  <div class="navbar">
      <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">S.Network</a>
        </div>
            <div class="navbar-header">
                {{#if getConnectedUser}}
                <a class="navbar-brand" href="/dashboard"><span class="glyphicon glyphicon-home"></span></a>
                <!-- <input type="text" name="name" placeholder="search user"> -->
                <!-- <a href="#" class="btn"><span class="glyphicon glyphicon-search"></span></a> -->
                <!-- <div class="form-group"> -->
                <a  class="navbar-brand" href="/chat"><span class="mdi-communication-forum icon-navbar"></span></a>
                <form class="navbar-form navbar-left" role="search">
                    <input type="text" class="form-control col-lg-8" placeholder="search user">
                    <!-- <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button> -->
                </form>
                <!-- </div> -->
                {{/if}}
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <!-- <a  class="navbar-brand" href="/settings"><i class="mdi-action-settings"></i></a> -->
                  {{#if getConnectedUser}}
                  <a class="navbar-brand" href="/settings"><span class="glyphicon glyphicon-cog icon-settings"></span></a>
                  <a class="navbar-brand" href="/profile/{{getConnectedUser}}"><span class="mdi-action-account-box icon-navbar"></span></a>
                  {{/if}}
                  {{> accountButtons}}
                </ul>
            </div>
        </div>
    </div>
</template>
